html {
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "editor info";
  margin: 0;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #faf9f8;
}

header h1 {
  margin: 0;
  font-size: 1.2rem;
}

.editor-container {
  grid-area: editor;
  position: relative;
}

#editor {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#loadingIndicator {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  grid-area: info;
  position: relative;
  overflow: auto;
  padding: 10px;
  border-left: 1px solid #dadada;
}

.info.hidden {
  display: none;
}

.info h2 {
  margin: 0;
  font-size: 1.2rem;
}

.info h3 {
  font-size: 1.1rem;
}

.options ul {
  list-style-type: none;
  padding: 0;
}

.options li:not(:last-child) {
  margin-bottom: 0.5em;
}

.options label {
  display: block;
}

.options .description {
  margin-left: 1.6em;
  margin-top: 0.3em;
  font-size: 0.9em;
}

.versions dd {
  font-size: 0.9em;
}
